.mat-tab-header {
    position: fixed !important;
    top: 56px;
    width: 100%;
    z-index: 5;
    background: #fff;
}
.mat-toolbar-row-new {
    position: fixed;
    top: 105px;
    width: 100%;
    background: #fff;
    z-index: 5;
}
.demo-tab-content {
    padding: 10px;
    margin-top: 210px;
}
.mat-expansion-panel-header-title {
    max-width: 45%;
    font: 15px/15px Open sans,Ubuntu,Arial;
    font-weight: 600;
    color: #000;
    cursor: pointer;
}
.mat-expansion-panel-header-description, .mat-expansion-panel-header-title {
    display: inline !important;
    flex-grow: 1;
    margin-right: 16px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}
.mat-expansion-panel-header {
    font-size: 13px;
    position: relative;
}
.button-row {
    padding: 10px;
    text-align: center;
}
.mat-expansion-panel-body p {
    margin: 0;
    font-size: 13px;
    line-height: 20px;
}
/*
.mat-select-content{
    top: 65px !important;
    right: 10px !important;
    left: 10px !important;
    width: 200px !important;
}*/
.is-new-call {
    position: absolute;
    display: block;
    left: 0;
    height: 48px;
    top: 0;
    width: 5px;
    background: #cfd5e5;
}
.show-stat-btn {
    margin-left: 20px;
    width: 40px;
    height: 40px;
}
.show-stat-btn.mat-fab .mat-button-wrapper {
    padding: 8px 0;
    display: inline-block;
    line-height: 1px;
}
.stat-block {
    font-size: 13px;
    padding: 10px;
}
.success, .unsuccess {
    position: absolute;
    display: block;
    left: 5px;
    height: 48px;
    top: 0;
    width: 5px;
    background: #8fc7c1;
}
.unsuccess {
    background: #ec929e;
}
.btn-area {
    text-align: center;
}
.btn-area > span > button {
    background: none;
    width: 50px;
    color: #cccccc !important;
}
.btn-area > span > button.nav-active mat-icon {
    color: #8f9ec3 !important;
}
.form-datepicker {
    margin-right: 15px;
}
span.space-before:before {
    content: " ";
}
.number {

}
.actions-block-with-number {
    height: 50px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.12);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.12);
    box-shadow: 0 1px 4px rgba(0,0,0,0.12);
    width: 100%;
}
.tf-button {
    cursor: pointer;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.12);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,0.12);
    box-shadow: 0 1px 4px rgba(0,0,0,0.12);
    width: 100%;
}
.icon {
    background-color: #6e8ab5;
    position: relative;
    width: 100%;
    height: 50px;
    text-align: center;
}
.icon mat-icon {
    color: #fff;
}
.call > .icon mat-icon {
    -ms-transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    transform: rotate(270deg);
    
}
.tf-button > .icon > .mat-icon-button {
    width: 100%;
    height: 50px;
}
.calls > button svg {
    height: 27px;
    width: 30px;
}
.calls > button svg path {
    fill: #fff;
}
.sms > button {
    -webkit-transition: opacity .25s;
    -moz-transition: opacity .25s;
    -o-transition: opacity .25s;
    -ms-transition: opacity .25s;
    transition: opacity .25s;
    opacity: .9;
    font: 400 26px/62px Elektra Light Pro Regular,Ubuntu,Arial;
    color: #fff;
    line-height: 1;
}