<mat-tab-group class="demo-tab-group">
  <mat-tab label="Поступившие">
    <div>
      <mat-toolbar-row>
        <mat-form-field>
          <mat-select placeholder="На все номера">
            <mat-option>None</mat-option>
            <mat-option *ngFor="let depart of departs" [value]="depart">{{depart}}</mat-option>
          </mat-select>
        </mat-form-field>
      </mat-toolbar-row>
    </div>
    <div class="demo-tab-content">
      Поступившие
    </div>
  </mat-tab>
  <mat-tab label="Совершенные">
    <div class="demo-tab-content">
      Совершенные
    </div>
  </mat-tab>
  <mat-tab label="Потерянные (70)">
    <div class="demo-tab-content">
      Потерянные
    </div>
  </mat-tab>
  <mat-tab label="По сотрудникам">
    <div class="demo-tab-content">
      По сотрудникам
    </div>
  </mat-tab>
  <mat-tab label="По номеру">
    <div class="demo-tab-content">
      По номеру
    </div>
  </mat-tab>
  <mat-tab label="Прямо сейчас">
    <div class="demo-tab-content">
      Прямо сейчас
    </div>
  </mat-tab>
  <mat-tab label="Мониторинг очередей">
    <div class="demo-tab-content">
      Мониторинг очередей
    </div>
  </mat-tab>
</mat-tab-group>