<div class="container">
	<mat-card>
		<audio id="playback-audio-player" controls="" autoplay="none" [src]="audio_src"></audio>
	</mat-card>
	<mat-card>
		<mat-form-field>
			<input matInput placeholder="Ссылка на файл (для пользователей с доступом в Личный кабинет MyBusiness)" disabled [value]="audio_src">
			<button mat-icon-button matSuffix ngxClipboard [cbContent]="audio_src" (cbOnSuccess)="isCopied1 = true" [class.btn-success]= "isCopied1">
				<mat-icon>content_copy</mat-icon>
			</button>
		</mat-form-field>
	</mat-card>
	<mat-card class="card" *ngIf="sendForm">
	  <mat-card-content>
	    <form [formGroup]="sendForm">
	      <mat-input-container [ngClass]="{'error': sendForm.controls['email'].errors && !sendForm.controls['email'].pristine}" dividerColor="{{sendForm.controls['email'].errors && !sendForm.controls['email'].pristine ? 'warn' : 'primary'}}">
	        <input type="email" matInput formControlName="email" placeholder="Отправить на email" required>
	        <div *ngIf="sendForm.controls['email'].errors && !sendForm.controls['email'].pristine" class="error-msg">
	          <div [hidden]="!sendForm.controls['email'].errors.required">Email обязателен.</div>
	          <div [hidden]="!sendForm.controls['email'].errors.patternInvalid">Некорректный Email.</div>
	        </div>
	        <mat-progress-bar *ngIf="showPreload" mode="indeterminate"></mat-progress-bar>
	      </mat-input-container>
	      <div *ngIf="showError" class="error">Неверный Email</div>
	      <div *ngIf="isSuccess" class="success" [@showSuccess]="exp"><i class="material-icons">done</i></div> 
	    </form>
	  </mat-card-content>
	  <mat-card-actions align="end">
	    <button mat-raised-button color="primary" [disabled]="sendForm.invalid" (click)="postToEmail()">Отправить</button>
	  </mat-card-actions>
	</mat-card>
	<div class="button-row center">	  
	  <a mat-raised-button [href]="save_file" color="accent">Сохранить файл</a>
	</div>
	<!-- <div class="life-container" (click)="removeItem(i)">
		test
	</div> -->
</div>