p {
    margin: 0;
}
mat-toolbar {
    position: fixed;
    z-index: 5;
}
.mat-toolbar.mat-primary {
    -webkit-box-shadow: 0 -1px 3px rgba(0,0,0,0.18);
    -moz-box-shadow: 0 -1px 3px rgba(0,0,0,0.18);
    box-shadow: 0 1px -3px rgba(0,0,0,0.18);
    background-color: #69628c;
}
.logo-binotel {
    margin: 0 auto;
}
.logo-binotel img {
    padding-left: 40px;
}
.cdk-overlay-pane {
    top: 65px !important;
    right: 10px !important;
}
.nav-active {
    background-color: #3e3e45;
    color: #fff;
}

.nav-active mat-icon {
    color: #fff !important;
}
.mat-toolbar-row, .mat-toolbar-single-row {
    height: auto;
    font-size: 13px;
}
.mat-select-value-text {
    font-size: 13px;
}
.mat-form-field-infix {
    width: 120px !important;
}
.mat-fab.mat-accent {
    width: 40px;
    height: 40px;
    margin-left: 15px;
}
@media (max-width: 600px) {
    .mat-toolbar-row, .mat-toolbar-single-row {
        height: auto;
    }
}